<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Posts</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.pluck(:title, :percent_utilized) %>

<h1>Portfolios</h1>
<% @portfolios.each do |p| %>
    <h3><%=p.title%></h3>
    <p><%=p.body%></p>
 <% end %>